*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("Free-Nature-Backgrounds-Seaport-During-Daytime-by-Pexels.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.main{
    width: 100%;
    height: 100vh;
    background:linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%);
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
}

.logo {
    color: #ffffff;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
    float: left;
    padding-top:10px ;
    margin-top: 5px;
}



.logo span{

    color: rgb(58, 191, 252);


}


.menu{
    width: 400px;
    float: left;
    height: 70px;
    
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #ff0000;
    font-size: 15px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.search{
    width: 330px;
    float: left;
    margin-left: 270px;
}

.srch{
    font-family: 'Courier New', Courier, monospace;
    width: 200px;
    height: 16px;
    background: transparent;
    border: 2px solid #ffffff;
    margin-top: 13px;
    color: #fff;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn{
    width: 100px;
    height: 40px;
    background: #ffffff;
    border: 2px solid #ffffff;
    margin-top: 13px;
    color: rgb(0, 0, 0);
    font-size: 15px;
    
}

.btn:hover{
    color: #000;
}

.btn:focus{
    outline: none;
}

.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
}

.content h1{
    font-family: Verdana,  Tahoma, sans-serif;
    font-size: 45px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2;
}

.content span{
    color: #1a8c75;
    font-size: 65px;
}

.content-text{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 1.2;
    line-height: 30px;
}

.content button.joinBtn{
    width: 160px;
    height: 40px;
  
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 20px;
    transition: 0.4s ease-in-out;
    color: rgb(0, 0, 0);
    background-color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.content button.joinBtn:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    transition: 0.5s,;
    -webkit-transition: 0.5as,;
    -moz-transition: 0.5as,;
    -ms-transition: 0.5as,;
    -o-transition: 0.5as,;
}

.form{
    width: 250px;
    height: 350px;
    background:linear-gradient(to top, rgba(219, 21, 21, 0.8)50%,rgba(219, 21, 21, 0.8)50%);
    position: absolute;
    top: -20px;
    left: 870px;
    transform: translate(0%, -5%);
    border-radius: 20px;
    padding: 25px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.form h2{
    width: 220px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: #ffffff;
    font-size: 22px;
    background: rgb(0, 0, 0);
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.form input{
    width: 240px;
    height: 35px;
    background:transparent;
    border-bottom: 1px solid #ffffff;
    border-top:none ;
    border-left:none ;
    border-right:none ;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.form input:focus{
    outline: none;
}

::placeholder{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.loginBtn{
    width: 240px;
    height: 40px;
    background: #ffffff;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.loginBtn:hover{
    background-color: #000;
    color: #ffffff;
    transition:0.5s ease ;
    -webkit-transition:0.5s ease ;
    -moz-transition:0.5s ease ;
    -ms-transition:0.5s ease ;
    -o-transition:0.5s ease ;
}

.link{
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}

.singup{
    text-align: center;
    padding-top: 5px ;
    padding-bottom: 5px;
}

.singup a{
    text-decoration: none;
    font-size: 17px;
    color: #fff;
}

.liw{
    text-align: center;
}

.singup p{

font-family: Arial, Helvetica, sans-serif;

}

.fotter h3{
    text-align: center;
    margin-top: 150px;
    color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.fotter a{
    text-decoration: none;
    text-align: center;
    
}